
/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: #fef5e7;
}

/* Position & size tabs */
.tab {
    position: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 609px;
}

/* Hover over the tabs to change */
.tab button:hover {
    background-color: rgb(149, 188, 149);
    font-size: 18px; 
}
/* Style the buttons */
.tab button {
    border: none;
    border-radius: 3%;
    width: 200px;
    cursor: pointer;
    padding: 14px 16px;
}
/* Style the dropdown */
.dropdown .tab {
    font-size: 16px;
    border: none;
    outline: none;
    color:#95bc95;
    padding: 14px 16px;
    background-color: inherit;
}
/* makes the dropdown invisible */
.dropdown-content {
    display:none;
}
/* style the dropdown content */
.dropdown-content a {
    float: none;
    color: #95bc95;
    padding: 14px 16px;
    display: block;
    text-align: left;
}
/* color when hovering */
.dropdown-content a:hover {
    background-color: #ffff;
}
/* dropdown becomes visible when hover */
.tab:hover .dropdown-content {
    display: block;
}

/* style social media buttons */
.button {
    background-color: #bfcba7;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* encapsulate social media buttons */
.wrapper {
    text-align: center;
    display: block;
}

/* main content styles starts here */


h1 {
    font-size: 40px;
    text-align: center;
}

/* position and size for header */
.explore {
    position: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 200px;
}

h2 {
    margin-left: 20px;
    margin-top: 7%;
    color: #557555;
}

p {
    margin-left: 20px;
    margin-right: 40px;
}

img {
    margin-left: 20px;
}

#photo img {
    border:#557555;
}

/* end main content styles */

/* footer styles */
h3 {
    color: #95bc95;
    text-align: center;
    margin-top: 20%;
}